<div class="section">
    <h1 class="section-title">Experience</h1>

    {{ range .Site.Data.experience }}   
    <div class="item">
        <h3 class="item-title">{{ .company }}</h3>
        <div class="item">
            <div class="row">
                <span class="col-sm-8 align-self-start">{{ .name }}</span>
                <span class="col-sm-4 align-self-end">{{ .date }}</span></div>
            <div class="row">    
            <div class="col-11"><p>{{ .details | markdownify }}</p></div>
            </div>
        </div>
    </div>
    {{ end }}
</div>