<div class="col-md-7 my-auto titleHeader">
        {{ range .Site.Data.features.about }}
        <div class="row">
                <div class="col-12">
                        <h1>{{ .name }}</h1>
                </div>
        </div>
                {{ if $.Site.Params.display.contact }}
                        <div id="contact"><span id="line">|</span>{{ .phone }} | {{ .email }} <span id="line">|</span> 
                {{ end }}
                {{ if $.Site.Params.display.github }} 
                        {{ if $.Site.Params.useFontAwesome }}
                                <i class="{{.icon}}"></i>
                        {{ end }}
                        <a href="{{.github}}" target="_blank">
                                <span class="link-text">{{ .githubName }}</span>
                        </a><span id="line">|</span>
                        </div>
                        {{ end }}
                {{ end }}
</div>
{{ if .Site.Params.display.avatar }}
<div class="col-md-5 my-auto"><img class="avatar" width="104" height="140" src="{{.Site.Params.avatar}}" alt=""></div>
{{ end }}